@import url("https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap&subset=cyrillic-ext");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800&display=swap&subset=cyrillic-ext');

body {
  --maincolor: #f34213;
  --subcolor001: #484041;
  --subcolor002: #f18701;
  --white: #ffffffe0;
  --light-grey: #e6e6e6;
  font-family: "Didact Gothic", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}


.fl-r {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fl-c {
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* align-content: center; */
  align-items: center;
}

.container {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: var(--maincolor);
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  background-image: url(../images/logo.svg);
  background-position-x: left;
  background-position-y: center;
  background-repeat: no-repeat;
  width: 30vh;
  height: 7vh;
  display: block;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  height: 50%;
}

.nav a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 100%;
  margin: auto;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 5px;
}

.nav a:hover {
  background-color: var(--subcolor002);
}

#showcase {
  background-image: url(../images/AdobeStock_230714251-1920x721.jpeg);
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
  display: flex;
  flex-direction: column;
}

#showcase-finder{
  width: 100%;
  height: 70vh;
  background-color: var(--white);
  border-radius: 10px;
  margin-top: -10rem;
  z-index: 100;
  border: 1px solid var(--light-grey);
  box-shadow: 0 0 20px rgba(0,0,0,0.25);
}

h1 {
  display: block;
  width: 100%;
  font-size: 3rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  margin: 3.5rem;
  text-transform: uppercase;
  color: var(--subcolor001);
  text-align: center;
}